<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.concrete.yosef">

    <application>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".activities.RadioGroupActivity"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name=".activities.AnimationActivity"/>
    </application>

</manifest>